/* ==UserStyle==
@name         Diagram Jira Visual Helpers
@namespace    github.com/jcackowskidiagram/diagram.jira-userstyle
@description  Tweaks for Diagram Jira
@author       jcackowskidiagram <jcackowski@wearediagram.com> (https://github.com/jcackowskidiagram/)
@homepageURL  https://github.com/jcackowskidiagram/diagram.jira-userstyle
@supportURL   https://github.com/jcackowskidiagram/diagram.jira-userstyle/issues
@updateURL    https://github.com/jcackowskidiagram/diagram.jira-userstyle/raw/main/diagram.jira.user.styl
@version      1.0.1
@license      MIT
@preprocessor stylus
==/UserStyle== */
@-moz-document domain("wsoljira.atlassian.net") {
    scrollbar() {
        &::-webkit-scrollbar {
            width: 0.9rem;
        }

        &::-webkit-scrollbar-track {
            background-color: rgba(97, 97, 124, 0.34);
            border-radius: 1rem;
            overflow: hidden;
        }

        &::-webkit-scrollbar-thumb {
            // border-radius: $border-radius-small;
            background-color: rgb(97, 97, 124);
            border-radius: 1rem;
            overflow: hidden;
        }
    }

    #ak-side-navigation {
        * {
            // scrollbar();
        }
    }

    * {
        scrollbar();
    }

    #page-body > #content {
        padding: 0 0.5rem;
    }

    .ghx-agile #content {
        margin-left: 0.5rem;
    }

    .issue-list {
        li {
            border-bottom: none !important;
        }
    }

    .issue-link-key {
        background-color: rgba(97, 97, 124, 0.16);
    }

    .adg3 {
        .details-layout .split-view .simple-issue-list .list-panel .issue-list li.focused a {
            outline: 2px solid #333;
            border-radius: 3px;
        }

        .navigator-group {
            padding: 0;
        }

        .details-layout {
            .split-view {
                .simple-issue-list {
                    .issue-link-key {
                        color: #111;
                    }
                }
            }
        }
    }

    .splitview-issue-link img[title*='Sub-Task'] {
        padding-left: 0;
        opacity: 0.25;
    }

    [data-component-selector='jira.issue-view.issue-details.full-size-mode-column'] {
        padding: 0 1rem 0 0.5rem;
    }
}